* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contactImgContainer {
    width: 50%; height: 50%;
    position: relative;
    margin: 0 auto 24px auto;
}

.contactImgContainer > a {
    display: block;
    width: 100%; height: 100%;
}

.contactImgContainer > a > img {
    width: 100%; height: 100%;
    filter: brightness(40%);
    border-radius: 8px;
}

.contactImgContainer > a > p {
    position: absolute;
    top: 50%; left: 50%;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    transform: translate(-50%, -50%);
}

.headerContentContainer {
    width: 60%; height: auto;
    margin: 0 auto;
}

.headerContentContainer p {
    padding-left: 20px;
}

.contactGITBoxContainer {
    width: 50%; height: auto;
    margin: 24px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactGITBox ul {
    padding-left: 20px;
}

.divider {
    width: 100%; height: 50px;
    margin: 24px 0;
    background-color: white;
}

.footerContainer > p > a {
    font-size: 2rem;
}

@media (max-width: 3840px) {
    .contactImgContainer > a > p {
        font-size: 8rem;
    }

    .headerContentContainer h1 {
        font-size: 3rem;
    }

    .headerContentContainer p {
        font-size: 2.4rem;
    }

    .contactGITBox h1 {
        font-size: 2.8rem;
    }

    .contactGITBox li {
        font-size: 2rem;
    }
}

@media (max-width: 1920px) {
    .contactImgContainer > a > p {
        font-size: 7.2rem;
    }

    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }
}

@media (max-width: 1440px) {
    .contactImgContainer {
        width: 60%;
    }

    .contactImgContainer > a > p {
        font-size: 7.2rem;
    }

    .headerContentContainer {
        width: 70%;
    }

    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }
}

@media (max-width: 1280px) {
    .contactImgContainer > a > p {
        font-size: 6rem;
    }

    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px) {
    .contactImgContainer {
        width: 80%;
    }

    .contactImgContainer > a > p {
        font-size: 6rem;
    }

    .headerContentContainer {
        width: 80%;
    }

    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

    .contactGITBoxContainer {
        width: 90%;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .contactImgContainer {
        width: 80%;
    }

    .contactImgContainer > a > p {
        font-size: 4rem;
    }

    .headerContentContainer {
        width: 90%;
    }

    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

    .contactGITBoxContainer {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }
}