* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerContentContainer {
    width: 60%; height: auto;
    margin: 0 auto;
}

.headerContentContainer p {
    padding-left: 20px;
}

.portraitsContentContainer {
    width: 70%;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portraitsBox {
    aspect-ratio: 6/5;
}

.portraitsBox img {
    width: 100%; height: 100%;
}

.divider {
    width: 100%; height: 50px;
    margin: 24px 0;
    background-color: white;
}

.footerContainer > p > a {
    font-size: 2rem;
}

@media (min-width: 2560px) {
    .headerContentContainer h1 {
        font-size: 3rem;
    }

    .headerContentContainer p {
        font-size: 2.4rem;
    }

}

@media (max-width: 1920px) {
    .headerContentContainer h1 {
        font-size: 2.4rem;
    }

    .headerContentContainer p {
        font-size: 2rem;
    }

}

@media (max-width: 1440px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 480px) {

}