* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.classOutlineContainer {
    width: 100%; height: auto;
    margin: 120px 0 auto 0;
}

.classImgContainer {
    width: 50%; height: 50%;
    position: relative;
    margin: 0 auto;
}

.classImgContainer > a {
    display: block;
    width: 100%; height: 100%;
}

.classImgContainer > a > img {
    width: 100%; height: 100%;
    filter: brightness(40%);
    border-radius: 8px;
}

.classImgContainer > a > p {
    position: absolute;
    top: 50%; left: 50%;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
    transform: translate(-50%, -50%);
}

.classHeaderContainer {
    width: 55%; height: auto;
    margin: 0 auto 24px auto;
}

.classHeaderContainer p {
    padding-left: 24px;
}

.classContentBoxContainer {
    width: 50%; height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.classContentBox {
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.classHeaderContainer > h1, .classHeaderContainer > p, .classContentBox p, .classContentBox h1, .classContentBox li {
    color: black;
}

.classContentBox ul {
    margin-left: 20px;
}

.divider {
    width: 100%; height: 50px;
    margin: 24px 0;
    background-color: #60aef8;
}

.footerContainer > p > a {
    font-size: 2rem;
}

@media (min-width: 2560px) {
    .classHeaderContainer h1 {
        font-size: 2.8rem;
    }
    .classHeaderContainer p {
        font-size: 2.4rem;
    }

    .classContentBox h1 {
        font-size: 2.4rem;
    }

    .classContentBox p {
        font-size: 2rem;
    }

    .classContentBox li {
        font-size: 1.8rem;
    }
}

@media (max-width: 1920px) {
    .classHeaderContainer h1 {
        font-size: 2.4rem;
    }
    .classHeaderContainer p {
        font-size: 2rem;
    }

    .classContentBox h1 {
        font-size: 2rem;
    }

    .classContentBox p {
        font-size: 1.6rem;
    }

    .classContentBox li {
        font-size: 1.4rem;
    }
}

@media (max-width: 1440px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 480px) {

}