* {
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} /* Reset Rule */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactContainer {
    width: 100%; height: auto;
    margin: 120px 0 auto 0;
}

.contactImgContainer {
    width: 50%; height: 50%;
    position: relative;
    margin: 0 auto;
}

.contactImgContainer > a {
    display: block;
    width: 100%; height: 100%;
}

.contactImgContainer > a > img {
    width: 100%; height: 100%;
    filter: brightness(40%);
    border-radius: 8px;
}

.contactImgContainer > a > p {
    position: absolute;
    top: 50%; left: 50%;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: white;
    transform: translate(-50%, -50%);
}

.contactHeaderContainer {
    width: 60%; height: auto;
    margin: 0 auto;
}

.contactHeaderContainer p {
    padding-left: 20px;
}

.contactGITBoxContainer {
    width: 50%; height: auto;
    margin: 24px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactHeaderContainer h1, .contactHeaderContainer p, .contactGITBox h1, .contactGITBox li {
    color: black;
}

.contactGITBox > h1 {
    margin-bottom: 8px;
}

.contactGITBox ul {
    list-style: none;
}

.contactGITBox li {
    line-height: 1.5;
}

.contactGITBox a {
    color: black;
    transition: color 300ms ease-in-out;
}

.contactGITBox a:hover {
    color: #f3a562;
}

.divider {
    width: 100%; height: 50px;
    margin: 24px 0;
    background-color: #0A76DB;
}

.footerContainer > p > a {
    font-size: 2rem;
}

@media (max-width: 3840px) {
    .contactImgContainer > a > p {
        font-size: 8rem;
    }

    .contactHeaderContainer h1 {
        font-size: 3rem;
    }

    .contactHeaderContainer p {
        font-size: 2.4rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }

    .contactGITBox a {
        font-size: 1.8rem;
    }
}

@media (max-width: 1920px) {
    .contactImgContainer > a > p {
        font-size: 8rem;
    }

    .contactHeaderContainer h1 {
        font-size: 2.4rem;
    }

    .contactHeaderContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }

    .contactGITBox a {
        font-size: 1.8rem;
    }
}

@media (max-width: 1440px) {
    .contactImgContainer > a > p {
        font-size: 6rem;
    }
    
    .contactHeaderContainer h1 {
        font-size: 2.4rem;
    }

    .contactHeaderContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.4rem;
    }

    .contactGITBox li {
        font-size: 1.8rem;
    }

    .contactGITBox a {
        font-size: 1.8rem;
    }
}

@media (max-width: 1280px) {
    .contactImgContainer > a > p {
        font-size: 6rem;
    }
    
    .contactHeaderContainer h1 {
        font-size: 2.4rem;
    }

    .contactHeaderContainer p {
        font-size: 2rem;
    }

    .contactGITBox h1 {
        font-size: 2.2rem;
    }

    .contactGITBox li {
        font-size: 1.6rem;
    }

    .contactGITBox a {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    .contactContainer {
        width: 100%; height: auto;
        margin: 30px auto 0 auto;
    }

    .contactImgContainer {
        width: 90%;
    }

    .contactImgContainer > a > p {
        font-size: 4.8rem;
        white-space: nowrap;
    }

    .contactHeaderContainer {
        width: 80%;
    }
    
    .contactHeaderContainer h1 {
        font-size: 2.4rem;
    }

    .contactHeaderContainer p {
        font-size: 2rem;
    }

    .contactGITBoxContainer {
        width: 80%;
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .contactGITBox h1 {
        font-size: 2.2rem;
    }

    .contactGITBox li {
        font-size: 1.6rem;
    }

    .contactGITBox a {
        font-size: 1.6rem;
    }
}